# Python
__pycache__/
*.pyc
*.pyo
*.pyd

#dataset of face
dataset/

# unused py files
face_verify(not_used).py

# Virtual environment
venv/
env/
*.env

# IDE settings
.vscode/
.idea/

# Training data / models (optional)
*.yml
*.xml

# Logs
*.log
